:root {
    --bg: #faf9f6;
    --font-color: #333333;
    --link-color: #0096ff;
    --link-visited-color: #0096ff;

    /* Spacing Measurements */
    --spacing-0: 0;
    --spacing-1: 0.5rem;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-2) * 2);
    --spacing-4: calc(var(--spacing-3) * 2);
    --spacing-5: calc(var(--spacing-4) * 2);
    --spacing-6: calc(var(--spacing-5) * 2);

    /* Shadows */
    --shadow-color: #333333;
    --shadow-1: 1px 1px 0px 0px var(--shadow-color);
    --shadow-2: 2px 2px 4px 0px var(--shadow-color);
    --shadow-3: 3px 3px 6px 0px var(--shadow-color);

    /* Screen Sizes */
    --screen-desktop: 992px;
    --screen-tablet: 768px;

    /* Text Sizes */
    --text-sm: 0.75rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.75rem;
    --text-3xl: 2rem;
}

body {
    background-color: var(--bg);
    color: var(--font-color);
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-size: var(--text-base);
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 h6 {
    font-weight: 200;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    padding: var(--spacing-2);
    width: 100%;
}

button {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #333333;
        --drawer-color: #222222;
        --font-color: #ffffff;
        --link-color: #add8e6;
        --link-visited-color: #add8e6;
    }

    body {
        background-color: var(--bg);
        color: var(--font-color);
    }
}

header {
    padding: var(--spacing-2);
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li:nth-last-child(2) {
    flex: 1;
}

header ul li:last-child {
    margin-left: auto;
}

header ul li button {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: var(--text-3xl);
    padding: var(--spacing-1);
}

nav[popover] {
    display: block;
    background-color: var(--drawer-color);
    box-shadow: var(--shadow-2);
    height: 100vh;
    left: 0;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 100vw;
}

nav:popover-open {
    display: block;
    transform: translateX(0%);
}

nav[popover] > * {
    color: var(--font-color);
}

nav[popover] > button {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: var(--text-lg);
    padding: var(--spacing-1);
    margin-left: auto;
    font-size: var(--text-3xl);
}

nav[popover] > ul {
    list-style-type: none;
    margin: 0;
    padding: var(--spacing-1);
    display: flex;
    flex-direction: column;
}

nav[popover] > ul li {
    font-size: var(--text-xl);
}

@media (min-width: 786px) {
    nav[popover] {
        left: unset;
        position: fixed;
        right: 0;
        width: 320px;
    }
}

@media (prefers-color-scheme: dark) {
    nav[popover] {
        box-shadow: none;
    }
}
