:root {
    --bg: #faf9f6;
    --font-color: #333333;

    /* Spacing Measurements */
    --spacing-0: 0;
    --spacing-1: 0.5rem;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-2) * 2);
    --spacing-4: calc(var(--spacing-3) * 2);
    --spacing-5: calc(var(--spacing-4) * 2);
    --spacing-6: calc(var(--spacing-5) * 2);

    /* Shadows */
    --shadow-color: #333333;
    --shadow-1: 1px 1px 0px 0px var(--shadow-color);
    --shadow-2: 2px 2px 4px 0px var(--shadow-color);
    --shadow-3: 3px 3px 6px 0px var(--shadow-color);

    /* Screen Sizes */
  --screen-desktop: 992px;
  --screen-tablet: 768px;
}

body {
    background-color: var(--bg);
    color: var(--font-color);
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 h6 {
    font-weight: 200;
}


mini-drawer-layout {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    position: relative;
}

mini-drawer-layout > *:not([slot="drawer"]) {
    flex: 1;
}

mini-drawer-layout [slot="drawer"] {
    background-color: var(--bg);
    box-shadow: var(--shadow-2);
    height: 100vh;
    left: 0;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 100vw;
}

mini-drawer-layout.open [slot="drawer"] {
    display: block;
    transform: translateX(0%);
}

mini-drawer-layout.noJs [slot="drawer"] {
    background-color: var(--drawer-color);
    box-shadow: var(--shadow-2);
    height: 100vh;
    position: fixed;
    transform: unset;
    transition: none;
    width: 320px;
}

@media (min-width: 786px) {
    mini-drawer-layout [slot="drawer"] {
        left: unset;
        position: fixed;
        right: 0;
        width: 320px;
    }

    mini-drawer-layout > *:not([slot="drawer"]) {
        flex: unset;
        transition: width 0.3s ease-in-out;
        width: 100%;
    }

    mini-drawer-layout.open > *:not([slot="drawer"]) {
        flex: unset;
        width: calc(100% - 320px);
    }

    mini-drawer-layout.noJs > *:not([slot="drawer"]) {
        width: calc(100% - 320px);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #333333;
        --drawer-color: #222222;
        --font-color: #ffffff;
    }

    body {
        background-color: var(--bg);
        color: var(--font-color);
    }

    mini-drawer-layout [slot="drawer"] {
        background-color: var(--drawer-color);
    }

    mini-drawer-layout.noJs [slot="drawer"] {
        background-color: var(--drawer-color);
    }
}

